{% extends "main-template.html" %}{% load static %}
{% block title %}Tienda Alimentos{% endblock %}
{% block content %}

<style>
    .body-form{
        background: url("{% static 'img/product/alimentoss.jpeg' %}");
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
      }
      
      #frm-alimento{
        background: rgb(0 0 0 / 32%);
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
      .bg-producto{
        background-color: #d2d2d26e;

      }
</style>
<div class="body-form">
    <div class="card mb-3 bg-producto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img/product/perro.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Alimento balanceado completo para perros cachorros de todos los tamaños, hembras gestantes o lactantes.
                                  Con carnes como ingrediente #1, esto ayuda a preservar la integridad de 
                                  las proteínas, resultando en una mayor absorción y aprovechamiento de 
                                  aminoácidos.</p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
        </div>
      </div>
  <div class="card mb-3 bg-producto" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'img/product/gato.png' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Dale a tu gatito el mejor comienzo de su vida. Con Vitaminas y minerales.
                                Protege a tu mascota. Refuerza las defensas. Tipos: Alimentación Saludable,
                                Mascotas Más Sanas., Cuidado de tu mascota.</p>
            <p class="card-text"><small class="text-muted"></small></p>
    </div>
        </div>
      </div>
    </div>
  <div class="card mb-3 bg-producto" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'img/product/conejo.png' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Dale a tu Conejo un pelaje radiantes, ojos brillantes y energía vibrante 
                                en solo 28 días. Elige el alimento super premium más rico y saludable ideal
                                para tu Conejo ingresando aquí.</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
<div class="text-center">
    <!-- <img src="{% static 'img/product/control-xbox.jpg' %}" class="rounded float-left" alt="...">
    <img src="{% static 'img/product/notebook.jpg' %}" class="rounded float-right" alt="..."> -->
</div>
  </div>
    </div>
      </div>
        </div>
{% endblock %}
