{% extends "main-template.html" %}{% load static %}
{% block title %}Formulario{% endblock %}
{% block content %}
<style>
  .body-form{
    background: url("{% static 'img/product/formulario_fondo.jpg' %}");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #frm-contacto{
    background: rgb(0 0 0 / 32%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
</style>
<div class="body-form">

<form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
  <div class="container" style="max-width:700px !important">
    <div class="form-group row">
      <div class="col-sm-9">
        <label for="txt-run" class="form-label">Run</label>
        <input id="txt-run" name="run" class="form-control"  />
      </div>
      <form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
      <div class="col-sm-3">
        <label for="txt-dv" class="form-label">DV</label>
        <input id="txt-dv" name="dv" class="form-control"/>
      </div>
    </div>
    <form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-nombres" class="form-label">Nombres</label>
        <input id="txt-nombres" name="nombres" class="form-control"  />        
      </div> 
      <form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
      <div class="col-sm-6">
        <label for="txt-apellido-paterno" class="form-label">Apellido Paterno</label>
        <input id="txt-apellido-paterno" name="apellido-paterno" class="form-control"  />        
      </div>   
    </div>
    <form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-apellido-materno" class="form-label">Apellido Materno</label>
        <input id="txt-apellido-materno" name="apellido-materno" class="form-control" />        
      </div> 
    </div>
    <form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-email" class="form-label">Email</label>
        <input id="txt-email" name="email" class="form-control" />        
      </div>     
      <form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}  
      <div class="col-sm-6">
        <label for="txt-telefono" class="form-label">Telefóno</label>
        <input id="txt-telefono" name="telefono" class="form-control" />        
      </div> 
      <div class="col-sm-6">
        <label for="txt-nombre-mascota" class="form-label">Nombre Mascota</label>
        <input id="txt-nombre-mascota" name="nombre-mascota" class="form-control" />        
      </div> 
    </div>    
    <form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
    <div class="form-group row">
      <div class="col-sm-12">
        <label for="txt-asunto" class="form-label">Comentarios</label>
        <textarea id="txt-asunto" name="comentarios" class="form-control"></textarea>
      </div> 
    </div>
    <div class="form-group row">        
        <button type="button" style="margin-top: 15px;" 
                      class=" col-sm-3 btn btn-primary"
                      onclick="enviar()">Enviar</button>
    </div>         
  </div>
</form>
<div id="txt-message">
</div>
</div>


<script src="{% static 'js/custom/form-enviar-asunto.js' %}"></script>
{% endblock %}